{% extends "layout.twig.html" %}

{% block content %}
<input type="hidden" id="pris_hotelldogn" value="{{overnatting_pris_hotell}}" />
<input type="hidden" id="overnatting_deltakere" value="{{overnatting.deltakere}}" />
<input type="hidden" id="overnatting_deltakere_antall" value="{{sove.deltakere}}" />
<div class="col-xs-12 col-lg-10" id="ledere_modal" style="display:none;">
	Vennligst vent, laster inn...
</div>
<div class="col-xs-12 col-lg-10" id="ledere_content">
	
	{% embed "ledere_ledere.twig.html" %}{% endembed %}
	<p class="clearfix">&nbsp;</p>

	{% embed "ledere_overnatting.twig.html" %}{% endembed %}
	<p class="clearfix">&nbsp;</p>

	{% embed "ledere_maltid.twig.html" %}{% endembed %}
	<p class="clearfix">&nbsp;</p>

</div>
{% endblock %}
