{% extends "layout.twig.html" %}

{% block content %}
<input type="hidden" id="pris_hotelldogn" value="{{overnatting_pris_hotell}}" />
<input type="hidden" id="overnatting_deltakere" value="{{overnatting.deltakere}}" />
<div class="col-xs-12 col-lg-10" id="ledere_modal" style="display:none;">
	Vennligst vent, laster inn...
</div>
<div class="col-xs-12 col-lg-10" id="ledere_content">

	<fieldset>
		<legend>Antall deltakere</legend>
	
		<p class="lead">
			Systemet har regnet ut at <a href="#" id="hvaErUnike">{{sove.system_deltakere}} unike personer</a> skal sove i {{overnatting.deltakere}}.
		</p>
		<p>
			Du kan korrigere antall deltakere her, men det skal da være fordi noen av deltakerne sover andre steder (hotell, privat e.l.) etter avtale med arrangøren.
			<br />
			Fylket vil motta faktura på deltakeravgift for alle {{sove.system_deltakere}} deltakere selv om du korrigerer antallet.
		</p>

		<div class="col-xs-8 col-sm-6 col-md-4">
				<label for="sove_korrigert">Antall som faktisk skal sove i {{overnatting.deltakere}}</label>
			<div class="input-group">
				<input type="number" id="sove_korrigert" class="form-control" value="{{sove.deltakere}}">
				<span class="input-group-btn">
					<button type="button" id="sove_korriger" class="btn btn-success btn-md">Lagre</button>
				</span>
			</div>
		</div>
		
		<p class="clearfix">&nbsp;</p>
		
	</fieldset>
	
	<fieldset>
		<legend>Behov for ledere i {{overnatting.deltakere}}</legend>
		<p class="lead">
			Det er krav om minst 1 leder per 10 deltakere i {{overnatting.deltakere}} hver natt. 
			Dvs <span id="num_ledere_deltakerovernatting"></span> ledere per natt.
		</p>
		
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<table class="table-condensed">
				<thead>
					<tr>
						<th width="*%">Overnattingssted</th>
						{% for dato in dager %}
							<th class="overnattingsdager" id="{{dato.dag}}_{{dato.mnd}}" data-human="{{dato.timestamp|dato('D')}}" data-dag="{{dato.dag}}" data-mnd="{{dato.mnd}}" width="40">
								{{dato.timestamp|dato('D')}}
								<small>{{dato.dag}}.{{dato.mnd}}</small>
							</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
				{% for nicename, sted in overnatting %}
					<tr>
						<td class="overnattingssted" id="{{nicename}}">{{sted}}</td>
						{% for dato in dager %}
							<td width="40" class="overnatting_{{nicename}}" data-human="{{dato.timestamp|dato('D')}}" data-dag="{{dato.dag}}" data-mnd="{{dato.mnd}}" align="center" id="fordeling_{{nicename}}_{{dato.dag}}_{{dato.mnd}}">0</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		
		<div class="clearfix"></div>
		
		<div class="col-xs-12" id="ledere_advarsler"></div>

		
	</fieldset>
	
	<fieldset>
		<legend>Ledere</legend>
		<p class="lead">Her registrerer du alle dine ledere, og hvor de sover når</p>
		
		<table class="table table-striped" id="ledere">
			<tbody>
			{% for leder in ledere %}
				{% embed "js/ledere_leder.twig.html" %}{% endembed %}
			{% endfor %}
			</tbody>
		</table>
		
		<a href="#" class="btn btn-primary btn-md addLeder">Legg til leder</a>
	</fieldset>
	
	
	<p class="clearfix">&nbsp;</p>
	<fieldset>
		<legend>{{ledermaltid.tittel}} {{ledermaltid.dag}}</legend>
		<p>{{ledermaltid.sted}}</p>
		
		<div class="">
			<div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
				<label for="kontroller_{{selector}}_type">Leder som deltar</label>
				<select class="lederselect form-control" id="ledermaltid_1">
					{% embed "js/ledere_maltid.twig.html" with {maltid_selected: middagsgjester.ukm} %}{% endembed %}
				</select>
				<p>Betalt av UKM Norge</p>
			</div>

			<div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
				<label for="kontroller_{{selector}}_type">Leder som deltar</label>
				<select class="lederselect form-control" id="ledermaltid_2">
					{% embed "js/ledere_maltid.twig.html" with {maltid_selected: middagsgjester.fylke1} %}{% endembed %}
				</select>
				<p>Betalt av fylket selv</p>
			</div>

			<div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
				<label for="kontroller_{{selector}}_type">Leder som deltar</label>
				<select class="lederselect form-control" id="ledermaltid_3">
					{% embed "js/ledere_maltid.twig.html" with {maltid_selected: middagsgjester.fylke2} %}{% endembed %}
				</select>
				<p>Betalt av fylket selv</p>
			</div>

		<p>
			<a href="#" class="btn btn-success" id="middagsgjester_save">Lagre {{ledermaltid.tittel}}</a>
		</p>

		</div>


	</fieldset>
</div>
{% endblock %}