{% extends "layout.twig.html" %}
{% block content %}
<div class="col-xs-12 col-md-10" id="pageAlertContainer" style="display:none">
	Vennligst vent...
</div>
<div class="col-xs-12 col-md-10" id="pageContainer">
	<h2>Tilse at alle innslag har nødvendig media</h2>

	<h3>Scene</h3>
	<table class="table table-media">
		<thead>
			<tr>
				<th>Innslag</th>
				<th>Bilde</th>
				<th>Film</th>
				<th>Playback</th>
			</tr>
		</thead>
		{% for innslag in videresendte.scene %}
		<tr data-bid="{{innslag.ID}}" data-tid="{{innslag.tittel.ID}}" id="bid_{{innslag.ID}}_tid_{{innslag.tittel.ID}}" data-navn="{{innslag.navn}}">
			<td>{{innslag.navn}}</td>
			{% if innslag.media.image == 'none_uploaded' %}
				<td class="alert alert-danger col-xs-2">
					Ingen bilder funnet
					<br />
					<a href="#" class="alertImageUpload btn btn-block btn-default">Last opp bilde(r)</a>
				</td>
			{% elseif innslag.media.image == 'none_selected' %}
				<td class="imageSelect alert alert-danger col-xs-2">
					Hvilket bilde skal brukes?
					<br />
					<a href="#" class="imageSelector btn btn-block btn-default">Velg bilde</a>
				</td>
			{% else %}
				<td class="imageSelect alert alert-success col-xs-2">
					<img src="{{innslag.media.image.src}}" id="rel_{{innslag.media.image.ID}}" />
					<br />
					<a href="#" class="imageSelector btn btn-block btn-default  btn-xs">Velg annet bilde</a>
				</td>
			{% endif %}
			
			
			{% if innslag.media.film == 'none_related' %}
				<td class="alert alert-danger col-xs-2">
					Ingen filmer funnet i UKM-TV
					<br />
					<a href="#" class="alertVideoUpload btn btn-block btn-default">Last opp film(er)</a>
				</td>
			{% else %}
				<td class="alert alert-success col-xs-2">
					Film lastet opp
					<br />
					<a href="#" class="videoCheck btn btn-block btn-default">Vis film(er)</a>
				</td>
			{% endif %}
			
			{% if not innslag.playback %}
				<td class="alert alert-warning col-xs-2">
					Ikke lastet opp playback
					<br />
					<a href="#" class="alertPlayback btn btn-block btn-default">Info</a>
				</td>
			{% else %}
				<td class="alert alert-success col-xs-2">
					Playback lastet opp
					<br />
					<a href="#" class="playbackCheck btn btn-block btn-default">Vis fil(er)</a>
				</td>		
			{% endif %}
		</tr>
		{% endfor %}
	</table>
	
	
	
	
	
	
	
	<h3>Film</h3>
	<div class="alert alert-warning">
		<h4>Kvalitetskrav</h4>
		<p>
			Vi gjør vårt beste for at filmdeltakerne skal få en god opplevelse, og trenger derfor at du laster opp filmen i den høyeste kvaliteten tilgjengelig.
		</p>
	</div>
	<table class="table table-media">
		<thead>
			<tr>
				<th>Innslag</th>
				<th>Film</th>
			</tr>
		</thead>
		{% for innslag in videresendte.film %}
		<tr data-bid="{{innslag.ID}}" data-tid="{{innslag.tittel.ID}}" id="bid_{{innslag.ID}}_tid_{{innslag.tittel.ID}}" data-navn="{{innslag.navn}}">
			<td>{{innslag.navn}}</td>
			{% if innslag.media.film == 'none_related' %}
				<td class="alert alert-danger col-xs-2">
					Ingen filmer funnet i UKM-TV
					<br />
					<a href="#" class="alertVideoUpload btn btn-block btn-default">Last opp film(er)</a>
				</td>
			{% else %}
				<td class="alert alert-success col-xs-2">
					Film lastet opp
					<br />
					<a href="#" class="videoCheck btn btn-block btn-default">Vis film(er)</a>
				</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>


	<h3>Utstilling</h3>
	<table class="table table-media">
		<thead>
			<tr>
				<th>Innslag</th>
				<th>Bilde</th>
				<th>Bilde av kunstner</th>
			</tr>
		</thead>
		{% for innslag in videresendte.kunst %}
			{% for tittel in innslag.titler %}
				<tr data-bid="{{innslag.ID}}" data-tid="{{tittel.t_id}}" id="bid_{{innslag.ID}}_tid_{{tittel.t_id}}" data-navn="{{innslag.navn}}">
					<td>{{innslag.navn}} - {{tittel.tittel}}</td>
					{% if tittel.media.image == 'none_uploaded' %}
						<td class="alert alert-danger col-xs-2">
							Ingen bilder funnet
							<br />
							<a href="#" class="alertImageUpload btn btn-block btn-default">Last opp bilde(r)</a>
						</td>
					{% elseif tittel.media.image == 'none_selected' %}
						<td class="imageSelect alert alert-danger col-xs-2">
							Hvilket bilde skal brukes?
							<br />
							<a href="#" class="imageSelector btn btn-block btn-default">Velg bilde</a>
						</td>
					{% else %}
						<td class="imageSelect alert alert-success col-xs-2">
							<img src="{{tittel.media.image.src}}" id="rel_{{tittel.media.image.ID}}" />
							<br />
							<a href="#" class="imageSelector btn btn-block btn-default  btn-xs">Velg annet bilde</a>
						</td>
					{% endif %}
					
					
					
					{% if innslag.media.kunstner == 'none_uploaded' %}
						<td class="alert alert-danger col-xs-2">
							Ingen bilder funnet
							<br />
							<a href="#" class="alertImageUpload btn btn-block btn-default">Last opp bilde(r)</a>
						</td>
					{% elseif innslag.media.kunstner == 'none_selected' %}
						<td class="imageSelect kunstner kunstner_{{innslag.ID}} alert alert-danger col-xs-2">
							Hvilket bilde skal brukes?
							<br />
							<a href="#" class="imageSelector btn btn-block btn-default" data-kunstner="true">Velg bilde</a>
						</td>
					{% else %}
						<td class="imageSelect kunstner kunstner_{{innslag.ID}} alert alert-success col-xs-2">
							<img src="{{innslag.media.kunstner.src}}" id="rel_{{innslag.media.kunstner.ID}}" />
							<br />
							<a href="#" class="imageSelector btn btn-block btn-default btn-xs" data-kunstner="true">Velg annet bilde</a>
						</td>
					{% endif %}

				</tr>
			{% endfor %}
		{% endfor %}
	</table>
</div>
{% endblock %}