{% extends "layout.html.twig" %}

{% block content %}
<div class="UKMwidth">
	<a href="?page=UKMvideresending_festival">Tilbake til oversikten</a>
	<h2>Mikset sceneinnslag</h2>
	<p>
		Det blir også i år mulighet til å lage en miks av 2-4 innslag fra fylkesmønstringen som settes sammen til et nytt sceneinnslag. Små innslag kan dermed samproduseres til en ny konstellasjon, og målet er å stimulere til kreativitet og nyskaping, samt at fylkene blir representert med en større bredde og flere deltakere.
	</p>
	
	<p>
	En miks av flere sjangre er mulig og dette kan medvirke til økt mangfold og spennende scene- opptredener. Scenetiden er maks 7 minutt, og sceneinnslaget blir en del av den eksisterende kvoten 5 sceneinnslag. Total scenetid i Olavshallen kan utvides til 27 minutter hvis miks-innslagets varighet er 7 minutter.
	</p>
	
	<p>
		Juryen på fylkesmønstringen kan velge ut deltakere de tror vil egne seg i en ny konstellasjon. Den nye konstellasjonen av deltakere bør samles før de forlater fylkesmønstringen.
	</p>
	
	<p>
		Disse innslagene vil få scenetid søndag eller mandag under UKM-festivalen, slik at de får litt ekstra tid til å forberede seg, men innslaget må være ferdigprodusert når dere ankommer.	</p>
	</div>
{% endblock %}