{% extends "layout.twig.html" %}

{% block content %}
<div class="UKMwidth">
	<a href="?page=UKMvideresending_festival">Tilbake til oversikten</a>
	<h2>Mikset sceneinnslag</h2>
	<p>
		Det blir i år mulighet for å lage en miks av 2-4 innslag fra fylkesmønstringen som settes sammen til et nytt sceneinnslag. Innslag på 1 eller 2 personer kan samproduseres til en ny konstellasjon, og målet er å stimulere til kreativitet og nyskaping både for deltakerne og en voksen mentor.
	</p>
	
	<p>
	En miks av flere sjangre er mulig og dette kan medvirke til økt mangfold og spennende scene- opptredener. Antall deltakere er maks 7, og scenetiden er maks 7 minutt, og sceneinnslaget blir en del av den eksisterende kvoten på 1 av 5 innslag på scenen. Total scenetid i Olavshallen kan utvides til 27 minutter hvis miks-innslagets varighet er 7 minutter.
	</p>
	
	<p>
		Juryen på fylkesmønstringen kan velge ut deltakere de tror vil egne seg i en ny konstellasjon, eventuelt at deltakerne som sendes videre til fylket kan bli spurt om de er interessert i å være med. Den nye konstellasjonen av deltakere bør samles før de forlater fylkesmønstringen.
	</p>
	
	<p>
		En mentor, utnevnt av den regionale UKM-kontakten, inviterer til et nytt møte 2-3 uker etter fylkesmønstringen for å sette i gang samarbeidet. Det må settes av nok tid til slik at en ny sceneopptreden blir produsert i løpet av 1-2 dager.
	</p>
	
	<p>
		Disse innslagene vil få scenetid søndag eller mandag under UKM-festivalen, slik at de får ekstra tid til å øve sammen på lørdag.
	</p>
	
	<p>
		Samarbeidet vil bidra i positiv retning i forhold til snittet på antall personer pr innslag som har gått ned de senere år, og UKM Norge håper mange fylker vil benytte seg av denne muligheten til å ta med seg flere deltakere til Trondheim.
	</p>
	
	<p>
		En faktura på samlede reisekostnader med kvitteringer sendes UKM Norge etter prosjektet er gjennomført.
	</p>
</div>
{% endblock %}