{% extends "layout.html.twig" %}

{% block content %}
	<style>
		img {
			max-width: 70vw !important;
			max-height: 70vh !important;
		}
	</style>
	
	<div style="width: 95%;">
		<h3>
			Du kan videresende fra 
				<label class="label label-success">{{ videresendtil.frist2|dato('j.M') ~' kl. '~ videresendtil.frist2|dato('H:i') }}</label>
				 til 
				<label class="label label-danger">{{ videresendtil.frist|dato('j.M') ~' kl. '~ videresendtil.frist|dato('H:i') }}</label>
		</h3>
		<p class="lead">
			For å fullføre videresendingen må du innom alle faner (videresendte, media osv) og fylle ut alle felt. 
			Etter fristen kan du ajourføre media og detaljer på videresendingen, 
			men det vil ikke være mulig å endre på hvilke innslag som er videresendt.
		</p>
	
		{% if site_type == 'kommune' and videresendtil.infotekst %}
			<h3>Informasjon fra fylkeskontakten</h3>
			{{ videresendtil.infotekst|raw|nl2br }}
		{% endif %}
	
		{% if site_type == 'fylke' %}
			<h3>
				Nominasjon
				<small>
					{% if "now"|date("Y") < 2019 %}<i class="label label-danger">Nytt i 2018</i> &nbsp;{% endif %}
				</small>
			</h3>
			<p>
				<a href="?page=UKMnominasjon">All nominasjon skjer elektronisk</a>.
			</p>
	
			<p>
				Unge arrangører, konferansierer og UKM Media-deltakere må nomineres, og skal ikke videresendes i systemet før deltakelse er bekreftet av UKM Norge.
				<br />
				Det må fylles ut nominasjonsskjema. For unge arrangører og UKM Media må også deltakeren selv fylle ut et skjema.
			</p>

			<h3>Kvoter</h3>
			<p>
				<strong>
					Kvotene beskrives i 
					<a href="{{ info1 }}" target="_blank">informasjonsbrev 1</a>. 
					Les disse nøye!
				</strong>
			</p>
			
			<p>
				Av hensyn til kvaliteten på arrangementet vil vi ikke godta overskridelser av kvotene. 
				Dette gjelder selv om et fylke skulle ha publisert videresendingen i media. 
				<br />
				Fylket vil i et slikt tilfelle måtte gi kontrabeskjed og skuffe de berørte, og vi vil på det sterkeste be dere unngå at en slik situasjon oppstår.
			</p>

			<p>
				<a href="?page=UKMvideresending_festival&action=oppsummering">Oppsummeringen</a> gir deg en rask oversikt over kvotene i forhold til din videresending.
			</p>
		{% endif %}
	</div>
{% endblock %}
